//////////////////////////////ALLGEMEIN

* {
  box-sizing: border-box;

}

html, body {
	height: 100%;
	}

body,div,h1,h2,p {
    padding: 0;
    margin: 0;
}


body{
  height:100%;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  overflow:auto;
  background:#1d1c28;
}



/////////////////////////SVG


svg{
width:100%;
height:100%;
max-width:1148px;
position:absolute;
margin:auto;
left:0;
right:0;
padding:4%;

circle:hover{
fill:lightgrey!important;
transition:.2s ease-in-out;
}

#frankreich{
fill:lightblue;

}

}



/////////////////////////BUTTON

button{
position:relative;
z-index:2;
margin:4%;
}

circle.active{
r:20;
transition:1s ease-in-out;
}



/////////////////////////INFO

.info{

display:none;
position:fixed;
right:0;
padding:4%;

h2{
font-size:1em;
color:#205475;
}

p{
font-size:.8em;
color:#335a72;
}

}
