* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body, div, h1, h2, p {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  background: #1d1c28;
  overflow: hidden;
}

.tore-info {
  display: none;
}

#infoBox[data-currentFilter=tore] .tore-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.gegentore-info {
  display: none;
}

#infoBox[data-currentFilter=gegentore] .gegentore-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.spielanzahl-info {
  display: none;
}

#infoBox[data-currentFilter=spielanzahl] .spielanzahl-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.alter-info {
  display: none;
}

#infoBox[data-currentFilter=alter] .alter-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.rotekarten-info {
  display: none;
}

#infoBox[data-currentFilter=rotekarten] .rotekarten-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.gelbekarten-info {
  display: none;
}

#infoBox[data-currentFilter=gelbekarten] .gelbekarten-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.qualifikationen-info {
  display: none;
}

#infoBox[data-currentFilter=qualifikationen] .qualifikationen-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.marktwert-info {
  display: none;
}

#infoBox[data-currentFilter=marktwert] .marktwert-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.kader-info {
  display: none;
}

#infoBox[data-currentFilter=kader] .kader-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.punkte-info {
  display: none;
}

#infoBox[data-currentFilter=punkte] .punkte-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.siege-info {
  display: none;
}

#infoBox[data-currentFilter=siege] .siege-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.gastgeber-info {
  display: none;
}

#infoBox[data-currentFilter=gastgeber] .gastgeber-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.twitter-info {
  display: none;
}

#infoBox[data-currentFilter=twitter] .twitter-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

.nationen-info {
  display: none;
}

#infoBox[data-currentFilter=nationen] .nationen-info {
  display: block;
}

#infoBox[data-currentFilter=''] h3 {
  display: none;
}

main#statistikPlayground {
  width: 80%;
  max-width: 1248px;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-54%);
}

main#statistikPlayground:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 80%;
}

.map img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

@-webkit-keyframes logo-in {
  from {
    transform: scale(0.48);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes logo-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bubbles {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo-in {
  from {
    transform: scale(0.48);
  }
  to {
    transform: scale(1);
  }
}

@keyframes logo-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bubbles {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#intro {
  animation: logo-in 1.48s ease-in-out 0.4s forwards, logo-out 0.48s ease-in-out 3s forwards;
  transform: scale(0.48);
  position: absolute;
  width: 100%;
  height: 100%;
}

#intro .intro-logo {
  position: absolute;
  z-index: 99;
  width: 400px;
  height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#intro .intro-logo img {
  width: 100%;
  transform: translateY(10%);
}

.no-animation #intro {
  display: none;
}

.no-animation .map {
  animation: fade 0.48s ease-in-out forwards;
  opacity: 0;
}

.no-animation nav, .no-animation .infobox {
  animation: fade 0.24s ease-in-out forwards;
  opacity: 0;
}

nav {
  animation: fade 0.48s ease-in-out 6s forwards;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 9;
  padding: 4% 2%;
}

#menu {
  display: none;
}

.logo {
  width: 150px;
  transform: translateX(calc((180px - 150px) / 2));
  padding-bottom: 40px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

aside {
  position: relative;
  z-index: 2;
  border: none;
  width: 180px;
  display: block;
  text-align: left;
}

input {
  display: none;
}

label {
  cursor: pointer;
  background: #424760;
  line-height: 28px;
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 4px;
  transition: .1s ease-in-out;
  color: #ddd;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .1em;
  font-weight: 200;
}

label:hover:before {
  background: #058baa;
}

label:before {
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  background: #101016;
}

input[type=radio]:checked + label:before {
  background: #058baa;
}

.holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1px;
}

.bubbles {
  opacity: 0;
  border-radius: 50%;
  background-size: cover;
  transition: all 1s;
  transform: translateX(-50%) translateY(-50%) scale(0);
  position: absolute;
}

.bubbles.minimum {
  -webkit-filter: grayscale(1);
}

@keyframes hover-bubble {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.animationFinish .bubbles:hover {
  animation: hover-bubble 0.48s;
}

.animationFinish .bubbles {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.infobox {
  animation: fade 0.48s ease-in-out 6s forwards;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4vw 2vw;
  width: 300px;
  text-align: right;
}

h1 {
  font-size: 1.1em;
  color: #ddd;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: .07em;
}

p {
  font-size: .9em;
  color: #80838e;
  letter-spacing: .01em;
}

h2 {
  font-size: 1.2em;
  color: #ddd;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: .1em;
}

h3 {
  font-size: 2em;
  color: #ddd;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: .6em;
  color: #80838e;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .09em;
}

h5 {
  color: #ddd;
  font-size: 1em;
}

.infobox2 {
  position: relative;
  right: 2vw;
  padding-top: 0;
}

.infobox2 h1 {
  font-size: .8em;
  margin-top: -10px;
}

footer {
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  display: block;
}

footer #share-buttons {
  float: right;
  text-decoration: none;
}

footer #share-buttons a {
  text-decoration: none;
}

footer #share-buttons img {
  width: 30px;
}

footer a {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: #80838e;
  font-size: .6em;
  letter-spacing: .1em;
}

footer #impressum {
  padding-right: 10px;
  bottom: 0;
  vertical-align: sub;
}

#impressum-body {
  overflow: scroll;
}

.impressum {
  color: #ffffff;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.impressum-text {
  position: absolute;
  left: 4%;
  top: 4%;
  padding-right: 4vw;
  max-width: 1200px;
}

.impressum-text a {
  text-decoration: none;
  color: inherit;
}

.logo-impressum {
  transform: inherit !important;
}

#switch {
  display: none;
  position: absolute;
  background: #1d1c28;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#switch .wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#switch svg {
  width: 100px;
  height: 100px;
}

#switch-text {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

@media screen and (orientation: portrait) {
  #switch {
    display: table;
  }
  body {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow: scroll;
  }
  #intro .intro-logo {
    width: 200px;
    height: 200px;
  }
  main#statistikPlayground {
    position: fixed;
    height: 100%;
    top: -0%;
    transform: translateY(-10px) translateX(80px);
  }
  .animationFinish .bubbles {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
  nav {
    width: 0;
    padding: 0;
    position: absolute;
  }
  .logo {
    display: none;
  }
  .logo img {
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  aside {
    width: 180px;
    display: block;
    text-align: left;
    transform: translateX(0);
    transition: 1s;
  }
  aside label {
    line-height: 48px;
    padding-left: 20px;
  }
  aside label:before {
    width: 0px;
  }
  aside input[type=radio]:checked + label {
    background: #058baa;
  }
  #menu {
    width: 40px;
    height: 49px;
    margin: 8px 14px;
    position: fixed;
  }
  #menu rect {
    fill: #058baa;
  }
  .aside-menu {
    transform: translateX(-100%);
  }
  .infobox {
    position: fixed;
    width: 100%;
    padding: 0vw 4vw;
  }
  #infobox-hide {
    display: none;
  }
  .infobox2 {
    right: 0vw;
  }
  div#infoBox2 {
    position: relative !important;
    padding: 0 !important;
  }
  footer {
    display: none;
    position: relative;
  }
  footer #share-buttons img {
    width: 20px;
    padding-bottom: 20px;
  }
}
