* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body, div, h1, h2, p {
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  background: #1d1c28; }

.tore-info {
  display: none; }

#infoBox[data-currentfilter=tore] .tore-info {
  display: block; }

.gegentore-info {
  display: none; }

#infoBox[data-currentfilter=gegentore] .gegentore-info {
  display: block; }

.spielanzahl-info {
  display: none; }

#infoBox[data-currentfilter=spielanzahl] .spielanzahl-info {
  display: block; }

.alter-info {
  display: none; }

#infoBox[data-currentfilter=alter] .alter-info {
  display: block; }

.rot-info {
  display: none; }

#infoBox[data-currentfilter=rot] .rot-info {
  display: block; }

.gelb-info {
  display: none; }

#infoBox[data-currentfilter=gelb] .gelb-info {
  display: block; }

.qualifikationen-info {
  display: none; }

#infoBox[data-currentfilter=qualifikationen] .qualifikationen-info {
  display: block; }

.marktwert-info {
  display: none; }

#infoBox[data-currentfilter=marktwert] .marktwert-info {
  display: block; }

.kader-info {
  display: none; }

#infoBox[data-currentfilter=kader] .kader-info {
  display: block; }

.punkte-info {
  display: none; }

#infoBox[data-currentfilter=punkte] .punkte-info {
  display: block; }

.siege-info {
  display: none; }

#infoBox[data-currentfilter=siege] .siege-info {
  display: block; }

.gastgeber-info {
  display: none; }

#infoBox[data-currentfilter=gastgeber] .gastgeber-info {
  display: block; }

.twitter-info {
  display: none; }

#infoBox[data-currentfilter=twitter] .twitter-info {
  display: block; }

.nationen-info {
  display: none; }

#infoBox[data-currentfilter=nationen] .nationen-info {
  display: block; }

main#statistikPlayground {
  width: 80%;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%); }

main#statistikPlayground:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 80%; }

.map img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; }

@-webkit-keyframes logo-in {
  from {
    transform: scale(0.48); }
  to {
    transform: scale(1); } }
@-webkit-keyframes logo-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes bubbles {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes logo-in {
  from {
    transform: scale(0.48); }
  to {
    transform: scale(1); } }
@keyframes logo-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes bubbles {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#intro {
  animation: logo-in 1.48s ease-in-out .4s forwards, logo-out .48s ease-in-out 3s forwards;
  transform: scale(0.48);
  position: absolute;
  width: 100%;
  height: 100%; }
  #intro .intro-logo {
    position: absolute;
    z-index: 99;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
    #intro .intro-logo img {
      width: 100%;
      transform: translateY(10%); }

.no-animation #intro {
  display: none; }

.no-animation .map {
  animation: fade .48s ease-in-out forwards;
  opacity: 0; }

.no-animation nav, .no-animation .infobox {
  animation: fade .24s ease-in-out forwards;
  opacity: 0; }

nav {
  animation: fade .48s ease-in-out 6s forwards;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 9;
  width: 134px;
  padding: 4% 2%; }

.logo {
  width: 150px;
  transform: translateX(calc((170px - 150px) / 2));
  padding-bottom: 40px; }
  .logo img {
    width: 100%; }

aside {
  position: relative;
  z-index: 2;
  border: none;
  width: 170px;
  display: block;
  text-align: left; }

input {
  display: none; }

label {
  cursor: pointer;
  background: #424760;
  line-height: 28px;
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 4px;
  transition: .1s ease-in-out;
  color: #ddd;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .1em;
  font-weight: 200; }

label:hover:before {
  background: #058baa; }

label:before {
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  background: #101016; }

input[type=radio]:checked + label:before {
  background: #058baa; }

#share-buttons {
  padding-left: 38px;
  padding-top: 15px;
  text-decoration: none; }
  #share-buttons a {
    text-decoration: none; }
  #share-buttons img {
    width: 30px; }

.holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1px;
  overflow: hidden; }

.bubbles {
  opacity: 0;
  border-radius: 50%;
  background-size: cover;
  transition: all 1s;
  transform: translateX(-50%) translateY(-50%) scale(0);
  position: absolute; }

.animationFinish .bubbles {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1); }

.infobox {
  animation: fade .48s ease-in-out 6s forwards;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4% 2%;
  width: 300px;
  text-align: right; }
  .infobox h1 {
    font-size: 1.1em;
    color: #ddd;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: .07em; }
  .infobox p {
    font-size: .9em;
    color: #80838e;
    letter-spacing: .01em; }
  .infobox h2 {
    font-size: .8em;
    color: #ddd;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: .1em; }
  .infobox h3 {
    font-size: 2em;
    color: #ddd;
    text-transform: uppercase;
    margin: 0; }
