//////////////////////////////ALLGEMEIN

* {
  box-sizing: border-box;
}

html, body {
    width:100%;
	height: 100%;
	overflow:hidden;
	}

body,div,h1,h2,p {
    padding: 0;
    margin: 0;
}

body{
  height:100%;
  width:100%;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  background:#1d1c28;
}


$color1: #ddd;
$color2: #80838e;


$options : 'tore', 'gegentore', 'spielanzahl', 'alter', 'rotekarten', 'gelbekarten', 'qualifikationen', 'marktwert', 'kader', 'punkte', 'siege', 'gastgeber', 'twitter', 'nationen';
@each $item in $options {
  
  .#{$item}-info{
    display: none;
  }
<<<<<<< HEAD
  #infoBox[data-currentFilter=#{$item}] .#{$item}-info {
    display: block;
  }
   #infoBox[data-currentFilter=''] h3 {
    display: none;
  }
  /* We create `$selector` */
=======
  #infoBox[data-currentfilter=#{$item}] .#{$item}-info{
    display: block;
  }
>>>>>>> origin/master
}

//____________________________PLAYGROUND

main#statistikPlayground {
    width: 80%;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
main#statistikPlayground:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 80%;
}



//____________________________BACKGROUND


.map{

 img{
   width:100%;
   height:100%;
   top:0;
   bottom:0;
   position:absolute;
   z-index:-1;
 }
}


//____________________________ANIMATIONS

@-webkit-keyframes logo-in {
  from {
    transform:scale(.48);
  }
  to {
    transform:scale(1);
  }
}

@-webkit-keyframes logo-out {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@-webkit-keyframes bubbles {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

@-webkit-keyframes fade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}


//____________

@keyframes logo-in {
  from {
    transform:scale(.48);
  }
  to {
    transform:scale(1);
  }
}

@keyframes logo-out {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@keyframes bubbles {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

@keyframes fade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

//________


#intro{
   animation: logo-in 1.48s ease-in-out .4s forwards, logo-out .48s ease-in-out 3s forwards;
   transform:scale(.48);
   position:absolute;
   width:100%;
   height:100%;

   
  .intro-logo{
    position:absolute;
  z-index:99;
    width:400px;
    height:400px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;

      img{
      width:100%;
      transform:translateY(10%);
      }
  }
}

.no-animation #intro{
    display: none;
}

.no-animation .map{
  animation: fade .48s ease-in-out forwards;
  opacity: 0;
}

.no-animation nav, .no-animation .infobox{
  animation: fade .24s ease-in-out forwards;
  opacity: 0;
}

//____________________________NAV

nav{
      animation: fade .48s ease-in-out 6s forwards;
      opacity:0;
      position: absolute;
      top:0;
      z-index: 9;
      width:134px;
      padding:4% 2%;
      

    }


.logo{
width:150px;
transform: translateX( calc((180px - 150px) / 2) );
padding-bottom:40px;
cursor:pointer;

   img{
  width:100%;

}
}  

aside{
position:relative;
z-index:2;
border: none;
width:180px;
display:block;
text-align:left;
}

input{
  display:none;
}

label{
  cursor:pointer;
  background:#424760;
  line-height:28px;
  display:block;
  position:relative;
  padding-left:40px;
  margin-bottom:4px;
  transition:.1s ease-in-out;
  color:$color1;
  text-transform:uppercase;
  font-size:.8em;
  letter-spacing:.1em;
  font-weight:200;
}

label:hover:before {

background:#058baa;
}


label:before{
  content:'';
  display:block;
  position:absolute;
  width:28px;
  height:28px;
  left:0;
  background:#101016;
}

input[type=radio]:checked + label:before {

    background:#058baa;
}


#share-buttons{
  padding-left: 38px;
  padding-top: 15px;
  text-decoration: none;


  a{
  text-decoration: none;
  }

  img{
  
  width: 30px;
}

}





//____________________________COUNTRIES

.holder {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1px;
}
.bubbles{   
  opacity:0;
  border-radius: 50%;
  background-size: cover;
  transition:all 1s;
  transform: translateX(-50%) translateY(-50%) scale(0);  
  position:absolute; 
}

.bubbles.minimum {
    -webkit-filter: grayscale(1);

}



@keyframes hover-bubble {
  0% {
        transform: translateX(-50%) translateY(-50%) scale(1);
  }
  50% {
        transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
  100% {
        transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.animationFinish .bubbles:hover {
    animation: hover-bubble .48s;
    //transform: translateX(-50%) translateY(-50%) scale(.5)!important;
}



.animationFinish .bubbles{
  opacity:1;
  transform: translateX(-50%) translateY(-50%) scale(1);  
}





//____________________________INFOBOX


.infobox{

  animation: fade .48s ease-in-out 6s forwards;
  opacity:0;
  position:absolute;
  right:0;
  top: 0;
  padding: 4vw 2vw;
  width:300px;
  text-align: right;

  h1{
  font-size:1.1em;
  color:$color1;
  text-transform:uppercase;
  padding-top:10px;
  letter-spacing: .07em;
  }

  p{
  font-size:.9em;
  color:$color2;
  letter-spacing: .01em;
  }

  h2{
  font-size:1.2em;
  color:$color1;
  text-transform:uppercase;
  padding-top:20px;
  letter-spacing: .1em;
  }

  h3{
  font-size:2em;
  color:$color1;
  text-transform:uppercase;
  margin: 0;
  }
  h4{
  font-size:.6em;
  color:$color2;
  text-transform:uppercase;
  margin: 0;
  letter-spacing: .09em;
  }
}

.infobox2 {
  position: relative;
  right: 2vw;
  padding-top: 0;

  h1{
  font-size:.8em;
  margin-top:-10px;
  }
}


@media screen and (max-width:800px){
  .animationFinish .bubbles {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(.6);
  }
}

